* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f5f5f5;
}

.container {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 300px;
}

.title {
  text-align: center;
  margin-bottom: 20px;
  font-size: 18px;
  font-weight: bold;
}

.form {
  display: flex;
  flex-direction: column;
}

.input-group {
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
}

.input-group label {
  margin-bottom: 5px;
  font-size: 14px;
}

.input {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.input:focus {
  border-color: #8c42f4;
  outline: none;
}

.checkbox-group {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  font-size: 12px;
}

.checkbox-group input {
  margin-right: 5px;
}

.checkbox-group a {
  color: #8c42f4;
  text-decoration: none;
}

.submit-btn {
  padding: 10px;
  background-color: #8c42f4;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.submit-btn:hover {
  background-color: #7329d1;
}

.employee-list {
  margin-top: 20px;
  width: 300px;
}

.employee {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f9f9f9;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.employee-name {
  font-weight: bold;
  font-size: 12px;
}

.employee-role {
  font-size: 10px;
  color: gray;
}

.delete-btn {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

p {
    margin-top: 3px;
}